body {
    background-color: #36393f;
    font-family: "Whitney", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    color: #f6f6f7;
}

.block-guild {
    background-color: #2f3136;
    color: #72767d;

    display: inline-block;
    padding: 10px 30px 10px 10px;
    float: left;
    margin-left: 20px;
}

.block-guild h2 {
    color: #f6f6f7;
    margin: 0;
}

.block-guild ul {
    padding-left: 0;
    margin: 0;
}

.block-guild ul li.item {
    list-style-type: none;
    padding: 7px 0 3px 0;
}

.block-guild ul li.item-sub {
    list-style-type: none;
    color: #f6f6f7;
}

.block-guild ul li.item-sub a {
    color: #f6f6f7;
    padding-left: 30px;
    text-decoration: none;
}

.main {
    background-color: #36393f;
}

#chat {

}

#chat .message {
    clear: both;
    padding: 20px 20px 0 20px;
    display: flex;
}

#chat .message > hr {
    border: none;
    clear: both;
    border-bottom: 1px solid transparent;
    margin-top: 20px;
    border-bottom-color: hsla(0, 0%, 100%, .04);
}

#chat .message > .user {
    float: left;
}

#chat .message > .user img {
    width: 50px
}

#chat .message .content {
    float: left;
    padding-left: 20px;
    color: #f6f6f7;
}

#chat .message .content .content-header  {
    display: flex;
}

#chat .message .content .content-header .content-user {
    display: inline-block;
    font-weight: 500;
    overflow-x: hidden;
    max-width: 46vw;
}

#chat .message .content .content-header .content-time {
    display: inline-block;
    padding-left: 20px;
    color: hsla(0, 0%, 100%, .2);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.4rem;
    max-height: 1.4rem;
    overflow-y: hidden;
}

#chat .message .content .content-message {
    color: #dcddde;
}

#chat .message .content .content-message .content-direct a {
    color: #0096cf;
}

.chat_options label {
    color: #dcddde;
}

#chat .message .content .content-message .content-reaction {
    margin-top: 8px;
}

#chat .message .content .content-message .content-reaction .emoji {
    padding: 3px 5px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 3px;
    background: rgba(92, 106, 158, .3);
}

#chat .message .content .content-message .content-reaction .emoji .count {
    display: inline-block;
    margin: 0 5px;
    color: #7289da;
}

#chat .message .content .content-message .content-reaction .emoji img {
    width: 17px;
}

#chat .message .content .content-message .content-reaction .emoji.blur img {
    filter: blur(5px);
}

#chat .message .content .content-message .content-direct {
    word-break: break-all;
}

#chat .message .content .content-message .content-direct .without-mark {
}

#chat .message .content .content-message .content-direct .emoji {
}

#chat .message .content .content-message .content-direct.only-emoji {
    font-size: 28px;
}

#chat .message .content .content-message .content-direct .emoji img {
    height: 17px;
}

#chat .message .content .content-message .content-direct.only-emoji .emoji img {
    height: 30px;
}

#chat .message .content .content-message .content-direct .emoji.blur img {
    filter: blur(5px);
}

#chat .message .content .content-message .attachment-block {
    padding: 10px 0;
}

#chat .message .content .content-message .attachment-block .attachment {
    margin-right: 20px;
}

#chat .message .content .content-message .attachment-block .attachment img,
#chat .message .content .content-message .attachment-block .attachment video {
    max-width: 90%;
    max-height: 200px;
}

#chat .message .content .content-message .attachment-block .attachment.blur img,
#chat .message .content .content-message .attachment-block .attachment.blur video {
    filter: blur(20px);
}

#chat .message .content .content-message .embed-block {
    padding: 10px 0;
}

#chat .message .content .content-message .embed-block .embed {
    margin: 0 20px 10px 0;
    width: 90%;
    max-width: 500px;
    display: flex;
}

#chat .message .content .content-message .embed-block .embed .embed-pill {
    display: inline-block;
    background-color: red;
    border-radius: 3px 0 0 3px;
    width: 4px;
    flex-shrink: 0;
}

#chat .message .content .content-message .embed-block .embed .embed-content {
    display: inline-block;
    padding: 10px;
    border-radius: 0 3px 3px 0;

    border: 1px solid rgba(46, 48, 54, .6);
    background-color: rgba(46, 48, 54, .3);
}

#chat .message .content .content-message .embed-block .embed .embed-content .provider {
    color: #87909c;
}

#chat .message .content .content-message .embed-block .embed .embed-content .author {
    color: white;
}

#chat .message .content .content-message .embed-block .embed .embed-content .title {
    color: #0096cf;
}

#chat .message .content .content-message .embed-block .embed .embed-content .preview {
}

#chat .message .content .content-message .embed-block .embed .embed-content .preview img {
    max-height: 200px;
}

#chat .message .content .content-message .embed-block .embed.blur .embed-content .preview img {
    filter: blur(20px);
}

