body {
    background-color: #36393f;
    font-family: "Whitney", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    color: #f6f6f7;
}

.block-guild {
    background-color: #2f3136;
    color: #72767d;

    display: inline-block;
    padding: 10px 30px 10px 10px;
    float: left;
}

.block-guild h2 {
    color: #f6f6f7;
    margin: 0;
}

.block-guild ul {
    padding-left: 0;
    margin: 0;
}

.block-guild ul li.item {
    list-style-type: none;
    padding: 7px 0 3px 0;
}

.block-guild ul li.item-sub {
    list-style-type: none;
    color: #f6f6f7;
}

.block-guild ul li.item-sub a {
    color: #f6f6f7;
    padding-left: 30px;
    text-decoration: none;
}

.main {
    background-color: #36393f;
}

#chat {

}

#chat .message {
    clear: both;
    padding: 20px 20px 0 20px;
}

#chat .message > hr {
    border: none;
    clear: both;
    border-bottom: 1px solid transparent;
    /* margin: 20px 20px -20px; */
    border-bottom-color: hsla(0, 0%, 100%, .04);
}

#chat .message > .user {
    float: left;
}

#chat .message > .user img {
    width: 50px
}

#chat .message .content {
    float: left;
    padding-left: 20px;
    color: #f6f6f7;
}

#chat .message .content .content-user {
    display: inline-block;
    font-weight: 500;
}

#chat .message .content .content-time {
    display: inline-block;
    padding-left: 20px;
    color: hsla(0, 0%, 100%, .2);
    font-size: 0.75rem;
    font-weight: 400;
}

#chat .message .content .content-message {
    color: #dcddde;
}

#chat .message .content .content-message a {
    color: #0096cf;
}

.chat_options label {
    color: #dcddde;
}








